@page
@using PasswordManager.Services.CryptographyService
@model PasswordManager.Web.Pages.Passwords.Index
@inject ICryptographyService _cryptographyService

@{
    ViewData["Title"] = "Passwords";
}

<div class="d-flex">
    <div class="w-25 mr-5">
        @await Html.PartialAsync("Partials/Menu")
    </div>
    <div class="d-flex flex-column w-75">
        <a asp-page="Create" class="btn btn-primary ml-auto mb-3">Create</a>
        
        <table class="w-100 table table-bordered">
            <thead>
            <tr>
                <th>URL</th>
                <th>Name</th>
                <th>Username</th>
                <th>Password - Encrypted</th>
                <th class="text-nowrap">Password - Decrypted</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var password in Model.Passwords)
            {
                <tr>
                    <td><a href="@(password.URL)">@(password.URL)</a></td>
                    <td>@(password.Name)</td>
                    <td>@(password.Username)</td>
                    <td>@(password.Password)</td>
                    <td>@(_cryptographyService.Decrypt(password.Password))</td>
                    <td>
                        <form method="post" asp-page-handler="remove">
                            <button class="btn btn-danger">Remove</button>
                            <input type="hidden" name="id" value="@password.Id" />
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>